body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
button{

    width: 500px;
    height: 500px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.button1{
    background-color: rgb(92, 223, 77);
    color: white;
}
.button2{
    background-color: rgb(56, 64, 172);
    color: white;
}

@media screen and (max-width: 768px) {
    .button {
        width: 150px;
        height: 150px;
        font-size: 14px;
    }
}